@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .triangle-topleft {
    width: 0;
    height: 0;
    border-top: 50px solid #272729;
    border-right: 50px solid #1632ac;
  }
  html {
    @apply scroll-smooth;
  }
}
